<div id="signup-page" class="view-container">
  <div>
    <h2>Create an account</h2>

<!--     <div id="test">
      <iframe style="border: none; " width="200" height="100" src="http://localhost:8000/api/charity/badge/3619" seamless="seamless"></iframe>
    </div> -->
  </div>
  <div>
    <form id="signup-form" name="signupForm" ng-submit="signup()" novalidate >

      <fieldset class="nameContainer form-section active">
        <!-- firstname input form -->
        <label for="firstName">Name</label>
        <input type="text" name="firstName" ng-model="user.first" ng-minlength="2" ng-maxlength="15" required>
        <!-- firstname validation -->
        <span class="form-tip form-error" ng-show="signupForm.firtname.$error.minlength">Name too short</span>
        <span class="form-tip form-error" ng-show="signupForm.firtname.$error.maxlength">Name too long</span>
        <!-- lastname input form -->
        <input type="text" name="lastName" ng-model="user.last" ng-minlength="2" ng-maxlength="15" required>
        <!-- lastname validation -->
        <span class="form-tip form-error" ng-show="signupForm.lastName.$error.minlength">Name too short</span>
        <span class="form-tip form-error" ng-show="signupForm.lastName.$error.maxlength">Name too long</span>
      </fieldset>

      <fieldset class="usrnameContainer form-section">
        <!-- username input form -->
        <label for="userName">Email Address</label>
        <input type="email" name="userName" ng-model="user.username" required>
        <!-- username validation -->
        <span class="form-tip form-error" ng-show="signupForm.userName.$invalid && !signupForm.userName.$pristine">Enter a valid email</span>
      </fieldset>

      <fieldset class="pwdContainer form-section">
        <!-- password input form -->
        <label for="password">Create password</label>
        <input type="password" name="password" ng-model="user.password" ng-minlength="6" required>
        <span class="form-tip">6-character minimum and case sensitive</span>
        <!-- password validation -->
        <span class="form-tip form-error" ng-show="signupForm.password.$error.minlength">Password too short</span>
      </fieldset>

      <fieldset class="gender form-section">
        <!-- gender input form -->
        <label for="gender">Gender</label>

        <input type="radio" name="gender" id="male" ng-model="user.male">
        <label for="male"><span></span>Male</label>
        <input type="radio" name="gender" id="female" ng-model="user.female">
        <label for="female"><span></span>Female</label>
      </fieldset>

      <fieldset class="preference form-section">
        <!-- user preferences input form -->
        <h3>Select your charity preferences </h3>
        <label for="preference">Categories</label>
        <input id="pref-animals" type="checkbox" name="preference" ng-model="user.animals">
        <label for="pref-animals"><span></span>Animals</label>
        <input id="pref-arts" type="checkbox" name="preference" ng-model="user.arts">
        <label for="pref-arts"><span></span>Arts, Culture, Humanities</label>
        <input id="pref-education" type="checkbox" name="preference" ng-model="user.education">
        <label for="pref-education"><span></span>Education</label>
        <input id="pref-enviornment" type="checkbox" name="preference" ng-model="user.environment">
        <label for="pref-enviornment"><span></span>Environment</label>
        <input id="pref-health" type="checkbox" name="preference" ng-model="user.health">
        <label for="pref-health"><span></span>Health</label>
        <input id="pref-humanService" type="checkbox" name="preference" ng-model="user.humanService">
        <label for="pref-humanService"><span></span>Human Services</label>
        <input id="pref-international" type="checkbox" name="preference" ng-model="user.international">
        <label for="pref-international"><span></span>International</label>
        <input id="pref-publicBenefit" type="checkbox" name="preference" ng-model="user.publicBenefit">
        <label for="pref-publicBenefit"><span></span>Public Benefit</label>
        <input id="pref-religion" type="checkbox" name="preference" ng-model="user.religion">
        <label for="pref-religion"><span></span>Religion</label>
      </fieldset>

      <fieldset class="phoneContainer form-section">
        <!-- phone number input form -->
        <h3>Verify your phone number</h3>
        <p>Enter your number and we'll text you a verification code.</p>
        <label for="telephone">Telephone number</label>
        <input type="tel" name="telephone" ng-pattern="/^\(?\d{3}\)?\s?\d{3}\-?\d{4}$/" ng-model="user.phone" required>
        <!-- phone number validation -->
        <button type="button"ng-click="sendCode()" ng-disabled='signupForm.telephone.$invalid'>Send Code</button>
        <span class="form-tip form-error" ng-show="signupForm.telephone.$error.pattern">Enter a valid telephone number</span>
      </fieldset>


      <fieldset class="verifyContainer form-section">
        <!-- verification code input -->
        <span class="form-tip">Please enter the verification code</span>
        <label for="verify">Verificaiton Code</label>
        <input id="verify" type="text" name="verify" ng-model="user.code" required>
        <!-- verification code validation -->
        <span class="form-tip" ng-show="signupForm.verify.$invalid || signupForm.verify.$pristine">Enter verification code received via SMS</span>
        <button type="button"ng-click="verifyCode()" ng-disabled="signupForm.verify.$invalid">Verify Code</button>
      </fieldset>

      <fieldset class="form-section">
        <!-- user donation amount form -->
        <h3>Annual Pledge Amount</h3>
        <p>Please provide your annual pledge amount</p>
        <label for="pledge">Pledge Amount</label>
        <div class="nameContainer">
          <!-- firstname input form -->
          <label for="firstName">Name</label>
          <input type="text" name="firstName" ng-model="user.first" ng-minlength="2" ng-maxlength="15" required>
          <!-- firstname validation -->
          <p ng-show="signupForm.firstname.$error.minlength">Name too short</p>
          <p ng-show="signupForm.firstname.$error.maxlength">Name too long</p>
          <!-- lastname input form -->
          <input type="text" name="lastName" ng-model="user.last" ng-minlength="2" ng-maxlength="15" required>
          <!-- lastname validation -->
          <p ng-show="signupForm.lastName.$error.minlength">Name too short</p>
          <p ng-show="signupForm.lastName.$error.maxlength">Name too long</p>
        </div>
        <input type="number" ng-model="user.pledge" name="pledge" required>
        <span class="form-tip">You have donated <span id="currency-default">{{user.pledge | currency }}</span>! </p>
        <span class="form-tip form-error" ng-show="signupForm.pledge.$invalid || signupForm.pledge.$pristine">Please enter amount</span>
      



        <p>Click <strong>Create account</strong> to sign up today!</p>
        <span ng-show='!signupForm.$invalid'>Please fill out all required fields.  Use back</span>
        <button type="submit" ng-disabled='!signupForm.$invalid'  class="btn btn-primary">Create account</button>

      </fieldset>

      <div class="form-controls">
        <button type="button" ng-click="formPrev()" ng-disabled="form.prevDisabled" class="form-prev">Back</button>
        <button type="button" ng-click="formNext()" ng-disabled="form.nextDisabled" class="form-next">Next</button>

        <ul class="form-progress">
          <li ng-repeat="f in form.fieldsets"></li>
        </ul>
      </div>
    </form>
  </div>
</div>
