<div class="view-container">
  <div>
    <h2>Register your charity</h2>
  </div>
  <div>
    <form name="registerForm" ng-submit="register()" novalidate>
      <fieldset class="nameContainer form-section">
        <!-- name input form -->
        <label for="name">Name</label>
        <input type="text" name="name" ng-model="charity.name" ng-minlength="2" ng-maxlength="40" required>
        <!-- name validation -->
        <span class="form-tip form-error" ng-show="registerForm.name.$error.minlength">Name too short</span>
        <span class="form-tip form-error" ng-show="registerForm.name.$error.maxlength">Name too long</span>
      </fieldset>
      <fieldset class="phoneContainer form-section">
        <!-- phone number input form -->
        <h3>Contact Information</h3>
        <label for="telephone">Telephone number</label>
        <input type="tel" name="telephone" ng-pattern="/^\(?\d{3}\)?\s?\d{3}\-?\d{4}$/" ng-model="charity.phone" required>
        <!-- phone number validation -->
        <span class="form-tip form-error" ng-show="registerForm.telephone.$error.pattern">Enter a valid telephone number</span>

        <label for="city">City</label>
        <input type="text" name="city" ng-model="charity.city" ng-minlength="1" ng-maxlength="40" required>
        <!-- city validation -->
        <span class="form-tip form-error" ng-show="registerForm.city.$error.minlength">City name too short</span>
        <span class="form-tip form-error" ng-show="registerForm.city.$error.maxlength">City name too long</span>

        <label for="state">State</label>
        <select name="state" ng-model="charity.state">
          <option ng-repeat="state in stateAbbrevs">{{ state }}</option>
        </select>

        <label for="zip">ZIP code</label>
        <input type="tel" name="zip" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/" ng-model="charity.zip" required>
        <!-- phone number validation -->
        <span class="form-tip form-error" ng-show="registerForm.zip.$error.pattern">Enter a valid ZIP code</span>

        <label for="email">Email address</label>
        <input type="email" name="email" ng-pattern="/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model="charity.email" required>
        <!-- phone number validation -->
        <span class="form-tip form-error" ng-show="registerForm.email.$error.pattern">Enter a valid email address</span>        

      </fieldset>
      <fieldset class="preference form-section">
        <!-- user preferences input form -->
        <label for="category">Choose a category</label>
        <select name="category" ng-model="charity.category" required>
          <option ng-repeat="category in categories">{{ category }}</option>
        </select>
        <label for="category" required>Choose a subCategory</label>
        <select name="subCategory" ng-model="charity.subCategory">
          <option ng-repeat="subCategory in subCategories">{{ subCategory }}</option>
        </select>
      </fieldset>

      <div id="createAccount">

        <!-- create account submit button-->
        <p>Click <strong>Register</strong> to register your charity with Pledgr.</p><br/>
        <button type="submit" ng-disabled='registerForm.$invalid' class="btn btn-primary">Register</button>
    </div>
    </form>
  </div>
</div>